<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
               http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
               http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.jbridgiee.web"/>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"/>

    <mvc:resources mapping="/webjars/**" location="classpath:/META-INF/resources/webjars/"/>

    <bean id="contentNegotiator" class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
        <property name="favorParameter" value="true"/>
        <property name="ignoreAcceptHeader" value="true"/>
        <property name="defaultContentType" value="application/json"/>
        <property name="mediaTypes">
            <map>
                <entry key="json" value="application/json"/>
                <entry key="xml" value="application/xml"/>
                <entry key="text" value="text/plain"/>
            </map>
        </property>
    </bean>

    <bean id="gsonBuilder" class="com.google.gson.GsonBuilder"/>

    <!-- Enables the Spring MVC @Controller programming model -->
    <mvc:annotation-driven content-negotiation-manager="contentNegotiator">
        <mvc:message-converters>

            <!-- Enables conversion to Json (via Gson) -->
            <bean class="org.springframework.http.converter.json.GsonHttpMessageConverter">
                <constructor-arg>
                    <bean class="com.google.gson.Gson" factory-bean="gsonBuilder" factory-method="create"/>
                </constructor-arg>
            </bean>

            <!-- Enables Object conversion to text -->
            <bean class="org.springframework.http.converter.ObjectToStringHttpMessageConverter">
                <constructor-arg>
                    <bean class="org.springframework.context.support.ConversionServiceFactoryBean">
                        <property name="converters">
                            <set>
                                <ref bean="filmToStringConverter"/>
                                <ref bean="resultsToStringConverter"/>
                            </set>
                        </property>
                    </bean>
                </constructor-arg>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

</beans>
